<ion-header>
  <ion-toolbar>
      <ion-icon name="arrow-back" class="indietro"></ion-icon>
    <ion-title class="title">{{ 'Aggiungi ricetta' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form>
    
    
    <ion-input color="medium" class="image" type="file" ></ion-input>
    
   
   <ion-item no-padding class="animated fadeInUp" class="nome">
      <ion-label position="floating"><strong>{{ 'Nome ricetta' | translate }}:</strong></ion-label>
      <ion-input type="text"  required="true"></ion-input>
    </ion-item><br>

    <ion-item class="persone">
      <ion-label><strong>{{ 'Per' | translate }}: </strong></ion-label>
      <ion-input type="number"  max="2" required="true"></ion-input>
    </ion-item>

    <ion-item class="tempo">
      <ion-label><strong>{{ 'Tempo totale (min)' | translate }}:</strong></ion-label>
      <ion-input type="number"  required="true"></ion-input>
    </ion-item>

    <ion-item class="tipo">
      <ion-label><strong>{{ 'Tipo' | translate }}:</strong></ion-label>
      <ion-select placeholder="{{ 'Seleziona' | translate }}" required="true">
        <ion-select-option value="anti">{{ 'Antipasto' | translate }}</ion-select-option>
        <ion-select-option value="primo">{{ 'Primo' | translate }}</ion-select-option>
        <ion-select-option value="secondo">{{ 'Secondo' | translate }}</ion-select-option>
        <ion-select-option value="contorno">{{ 'Contorno' | translate }}</ion-select-option>
        <ion-select-option value="dolce">{{ 'Dolce' | translate }}</ion-select-option>
      </ion-select>
    </ion-item>

    
    <ion-item class="ingredienti">
      <ion-label><strong>{{ 'Ingredienti' | translate }}</strong></ion-label>
      <ionic-selectable       
        [(ngModel)]="port"
        [items]="ports"
        [isMultiple]="true"
        itemValueField="id"
        itemTextField="name"
        [canSearch]="true"
        (onChange)="portChange($event)"
        required="true">
      </ionic-selectable>
    </ion-item>
    

    <ion-item class="step">
      <ion-label><strong>Steps:</strong></ion-label>
      <ion-textarea type="text" placeholder="inserisci procedura..." required="true"></ion-textarea>
    </ion-item>

    
    <ion-button round type="submit" class="submit">{{ 'Inserisci' | translate }}</ion-button>
   


</form>
</ion-content>
