.image{
    position: absolute;
    top:23px;
    margin-left:6px;
    width:100px;
    height:100px;
    font-size: 10px;
    background-color:#f3f3f3;
    border-radius: 3px 3px 3px 3px;

}

.camera{
    font-size:50px;
}

.nome{   
    margin-left:130px;
    margin-top:1px;
}

.persone{
    margin-left:120px;
    top:0px;
}

.tempo{
    margin-left:5px;
    top:25px;
}

.tipo{
    margin-left:5px;
    top:30px;
}

.ingredienti{
    margin-left:5px;
    top:35px;
}

.step{
    margin-left:5px;
    top:40px;
}

.submit{
    position: relative;
    margin-left:240px;
    top:50px;
}



