<ion-header>
    <ion-toolbar>
        <a (click)="back()"><ion-icon name="arrow-back" class="indietro"></ion-icon></a>
      <ion-title class="title"> Le mie ricette </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

      <ion-card>
          <ion-card-header>
              <ion-img src="../assets/images/carbonara.jpg"></ion-img>
            <ion-card-subtitle>Primo</ion-card-subtitle>
            <ion-card-title>Carbonara</ion-card-title>
          </ion-card-header>
        </ion-card> <br>
      
        <ion-card>
            <ion-card-header>
                <ion-img src="../assets/images/insalata.jpg"></ion-img>
              <ion-card-subtitle>Primo</ion-card-subtitle>
              <ion-card-title>Carbonara</ion-card-title>
            </ion-card-header>
          </ion-card> <br>
      
  
</ion-content>