<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start"> 
        <ion-back-button defaultHref="tabs/home"></ion-back-button> 
      </ion-buttons>
      <ion-icon name="search" [routerLink]="['/tabs/cerca']" slot="end" style="font-size:25px"></ion-icon>
      <ion-title class="title"> Le mie ricette </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <!--lista di ricette-->
    <ion-list>
      <ion-item>
        <ion-card>
            <ion-card-header>
              <ion-img src="../assets/images/carbonara.jpg"></ion-img>
              <ion-card-subtitle>Primo</ion-card-subtitle>
              <ion-card-title>Carbonara</ion-card-title>
            </ion-card-header>
        </ion-card> 
      </ion-item><br>
    </ion-list>
      
  
</ion-content>