<ion-header>
  <ion-toolbar>
    <ion-title class="title">{{ 'Cerca' | translate }}</ion-title>
    <ion-buttons slot="start"> 
        <ion-back-button defaultHref="tabs/le-mie-ricette"></ion-back-button> 
      </ion-buttons>
  </ion-toolbar>
  <ion-searchbar></ion-searchbar>
  <div class="filtro">
    <ion-button color="danger" class="btn-filtro" id="antipasti">Antipasti</ion-button>
    <ion-button color="danger" class="btn-filtro" id="primi">Primi</ion-button>
    <ion-button color="danger" class="btn-filtro" id="secondi">Secondi</ion-button>
    <ion-button color="danger" class="btn-filtro" id="contorni">Contorni</ion-button>
    <ion-button color="danger" class="btn-filtro" id="dolci">Dolci</ion-button>
  </div>
</ion-header>

<ion-content>
  <!--INIZIO Lista ricette-->
  <ion-list>
    <ion-item>
      <ion-card class="card">
        <ion-card-header>
          <!--<ion-img src="../assets/images/carbonara.jpg" id="img"></ion-img>-->
          <ion-card-title>Amatriciana</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-item>

    <ion-item>
      <ion-card class="card">
        <ion-card-header>
          <ion-img src="../assets/images/carbonara.jpg" id="img"></ion-img>
          <ion-card-title>Amatriciana</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-item>

    <ion-item>
      <ion-card class="card">
        <ion-card-header>
          <!--<ion-img src="../assets/images/carbonara.jpg" id="img"></ion-img>-->
          <ion-card-title>Amatriciana</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-item>

    <ion-item>
      <ion-card class="card">
        <ion-card-header>
          <ion-img src="../assets/images/carbonara.jpg" id="img"></ion-img>
          <ion-card-title>Amatriciana</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-item>

    
  </ion-list>
</ion-content>


