<ion-header>
  <ion-toolbar>
    <ion-title class="title">Cerca</ion-title>
    <ion-icon name="arrow-back" id="arrow"></ion-icon>
  </ion-toolbar>
  <ion-searchbar></ion-searchbar>
  <div class="filtro">
    <ion-button color="danger" class="btn-filtro" id="antipasti">Antipasti</ion-button>
    <ion-button color="danger" class="btn-filtro" id="primi">Primi</ion-button>
    <ion-button color="danger" class="btn-filtro" id="secondi">Secondi</ion-button>
    <ion-button color="danger" class="btn-filtro" id="contorni">Contorni</ion-button>
    <ion-button color="danger" class="btn-filtro" id="dolci">Dolci</ion-button>
  </div>
</ion-header>

<ion-content>
  <!--INIZIO Lista ricette-->
  <ion-list>
    <ion-item>
      <ion-card class="card">
        <ion-card-header>
          <!--<ion-img src="../assets/images/carbonara.jpg" id="img"></ion-img>-->
          <ion-card-title>Amatriciana</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-item>

    <ion-item>
      <ion-card class="card">
        <ion-card-header>
          <ion-img src="../assets/images/carbonara.jpg" id="img"></ion-img>
          <ion-card-title>Amatriciana</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-item>

    <ion-item>
      <ion-card class="card">
        <ion-card-header>
          <!--<ion-img src="../assets/images/carbonara.jpg" id="img"></ion-img>-->
          <ion-card-title>Amatriciana</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-item>

    <ion-item>
      <ion-card class="card">
        <ion-card-header>
          <ion-img src="../assets/images/carbonara.jpg" id="img"></ion-img>
          <ion-card-title>Amatriciana</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-item>

    
  </ion-list>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <ion-icon name="home"></ion-icon>
          <ion-label>home</ion-label>
          <ion-badge></ion-badge> 
        </ion-tab-button>
            
        <ion-tab-button tab="folder">
          <ion-icon name="folder"></ion-icon>
          <ion-label>Le mie ricette</ion-label>
        </ion-tab-button>
      
        <ion-tab-button tab="add-circle">
          <ion-icon name="add-circle" style="color:red;"></ion-icon>
          <ion-label></ion-label>
        </ion-tab-button>
            
        <ion-tab-button tab="restaurant">
          <ion-icon name="restaurant"></ion-icon>
          <ion-label>Nel mio frigo</ion-label>
        </ion-tab-button>
            
        <ion-tab-button tab="calculator">
          <ion-icon name="calculator"></ion-icon>
          <ion-label>Strumenti</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>