.filtro{
    color:red;
    width:200px;
    height:200px;
}

.anti{
    position:absolute;
    top:20px;
    left:10px;
}

.primi{
    position:absolute;
    top:20px;
    left:148px;
}

.secondi{
    position:absolute;
    top:20px;
    left:250px;
}

.contorni{
    position:absolute;
    top:70px;
    left:70px;
}

.dolci{
    position:absolute;
    top:70px;
    left:200px;
}

.card{
    width: 150px;
    height: 160px;
    left:10px;
    top:-21px;
}

.card1{
    width: 150px;
    height: 160px;
    left:180px;
    top:-220px;
}