<ion-header>
    <ion-toolbar>
      <ion-title style="text-align: center"> Nel Mio Frigo </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
      <div style = "background-color:#813939;">
        <ion-list>
            <ion-item>
                <ion-label style = "text-align: center">
                  <strong> Uovo </strong>  
                </ion-label>
                <br/> 
                <ion-label>
                  <strong> Pancetta </strong> 
                </ion-label>
                <br/> 
                <ion-label>
                  <strong> Formaggio </strong> 
                </ion-label>
                <br/> 
                <ion-label>
                  <strong> Lattuga </strong> 
                </ion-label>
                <br/> 
                <ion-label>
                  <strong> Latte </strong> 
                </ion-label>
                <br/> 
                 <ion-label>
                  <strong> Cacao </strong> 
                </ion-label>
                <br/> 
            </ion-item>
        </ion-list>
    </div>

 <ion-button color="danger" class="button-accedi" > Aggiungi Ingrediente </ion-button> 
  </ion-content>