<ion-header>
    <ion-toolbar>
        <ion-menu-button style="position: absolute"></ion-menu-button>
      <ion-title style="color:#ff0000; text-align: center">Profilo</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>


  <label style="position:absolute; top:100px; left:30px"><strong>Nome: </strong>Alessio</label> <br> <br> <br>
  <label style="position:absolute; top:120px; left:30px"><strong>Cognome: </strong>Morgante</label> <br> <br> <br>
  <label style="position:absolute; top:140px; left:30px"><strong>Email: </strong>blessiu997@gmail.com</label>

    <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="home">
            <ion-icon name="home"></ion-icon>
            <ion-label>home</ion-label>
            <ion-badge></ion-badge> 
          </ion-tab-button>
      
          <ion-tab-button tab="folder">
            <ion-icon name="folder"></ion-icon>
            <ion-label>Le mie ricette</ion-label>
          </ion-tab-button>

          <ion-tab-button tab="add-circle">
              <ion-icon name="add-circle" style="color:red; font-size:60px"></ion-icon>
              <ion-label></ion-label>
            </ion-tab-button>
      
          <ion-tab-button tab="restaurant">
            <ion-icon name="restaurant"></ion-icon>
            <ion-label>Il mio frigo</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="build">
            <ion-icon name="build"></ion-icon>
            <ion-label>Strumenti</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>

</ion-content>
