<ion-header>
    <ion-toolbar>
        <ion-menu-button class="menu"></ion-menu-button>
      <ion-title class="title">{{ 'Profilo' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>

  <ion-icon name="md-contact" class="icon"></ion-icon>
  <label class="nome" ><strong>{{ 'Nome' | translate }}:</strong>Alessio</label> <br> <br> <br>
  <label class="cognome"><strong>{{ 'Cognome' | translate }}:</strong>Morgante</label> <br> <br> <br>
  <label class="email"><strong>Email: </strong>blessiu997@gmail.com</label>

    <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="home">
            <ion-icon name="home"></ion-icon>
            <ion-label>Home</ion-label>
            <ion-badge></ion-badge> 
          </ion-tab-button>
      
          <ion-tab-button tab="folder">
            <ion-icon name="folder">{{ 'Le mie ricette' | translate }}</ion-icon>
            <ion-label></ion-label>
          </ion-tab-button>

          <ion-tab-button tab="add-circle">
              <ion-icon name="add-circle" style="color:red; font-size:60px"></ion-icon>
              <ion-label></ion-label>
            </ion-tab-button>
      
          <ion-tab-button tab="restaurant">
            <ion-icon name="restaurant"></ion-icon>
            <ion-label>{{ 'Il mio frigo' | translate }}</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="build">
            <ion-icon name="build"></ion-icon>
            <ion-label>{{ 'Strumenti' | translate }}</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>

</ion-content>
