<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="title">{{ 'Profilo' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>

  <ion-icon name="md-contact" class="icon"></ion-icon>
  <label class="nome" ><strong>{{ 'Nome' | translate }}:</strong>Alessio</label> <br> <br> <br>
  <label class="cognome"><strong>{{ 'Cognome' | translate }}:</strong>Morgante</label> <br> <br> <br>
  <label class="email"><strong>Email: </strong>blessiu997@gmail.com</label>

   

</ion-content>
