<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">Info</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
<ion-text>
  <div>
    <img src="https://trello-attachments.s3.amazonaws.com/5ca48df9b681f5618b371362/500x500/0d23933e69b0f97ac5524a5cb11b7079/logo.png" alt="Logo"/>
  </div>
  <div class="info">
    <p>lemiericette@gmail.com</p> 
    <ul>
      <li>
        <div class="social">
          <ion-icon name="logo-facebook" class="facebook-icon"></ion-icon>
        </div>
        <a href="#">{{ 'Le mie ricette' | translate }}</a>
      </li>
      <li>
        <div class="social">
          <ion-icon name="logo-twitter" class="twitter-icon"></ion-icon>
        </div>
        <a href="#"> {{ 'Le mie ricette' | translate }}</a>
      </li>
      <li>
        <div id="instagram" class="social">
            <ion-icon name="logo-instagram" class="instagram-icon"></ion-icon>
        </div>
        <a href="#"> Le_Mie_Ricette</a>
      </li>
    </ul>
    <p id="version">Versione dell'App: 1.0</p>
  </div>
</ion-text>
</ion-content>

