.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.giorno{
  font-size: 30px;
  color:red;
  font-family: cursive;
}

.base{
  font-size:30px;
  color:black;
  font-family: cursive
}
