.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.giorno{
  font-size: 25px;
  color:red;
  font-family: cursive;
}

.base{
  font-size:30px;
  color:black;
  font-family: cursive
}

.menu {
  color: black;
}
.title{
  color: #ff0000;
  font-size: 30px;
}

.card{
  background-color: #ffffff;
}

