
  <!--tab-bar-->

      <ion-tabs class="tab">
        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="home">
            <ion-icon name="home"></ion-icon>
              <ion-label>home</ion-label>
          </ion-tab-button>
            
          <ion-tab-button tab="le-mie-ricette">
            <ion-icon name="folder" ></ion-icon>
            <ion-label>{{ 'Le mie ricette' | translate }}</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="aggiungi">
            <ion-icon name="add-circle" class="add-circle" ></ion-icon>
            <ion-label></ion-label>
          </ion-tab-button>
            
          <ion-tab-button tab="nelmiofrigo1">
            <ion-icon name="restaurant" ></ion-icon>
            <ion-label>{{ 'Nel mio frigo' | translate }}</ion-label>
          </ion-tab-button>
            
          <ion-tab-button tab="strumenti">
            <ion-icon name="calculator" ></ion-icon>
            <ion-label>{{ 'Strumenti' | translate }}</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
   
  


