<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-back-button defaultHref="tabs/home"></ion-back-button> 
    </ion-buttons>
    <ion-title class="title">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm">
   <div>
     
    <ion-item no-padding class="animated fadeInUp" class="email">
      <ion-label position="floating">Email</ion-label>
      <ion-input  type="email" formControlName="email"></ion-input>
    </ion-item>
     

     <div class="error_messages">
       <ng-container *ngFor="let error of error_messages.email">
         <div class="error_message" *ngIf="loginForm.get('email').hasError(error.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
          {{error.message}}
         </div>
      </ng-container>
     </div>
    </div>

    <ion-item no-padding class="animated fadeInUp" class="password">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <div class="error_messages">
        <ng-container *ngFor="let error of error_messages.password">
          <div class="error_message" *ngIf="loginForm.get('password').hasError(error.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
            {{error.message}}
          </div>
        </ng-container>
      </div>

    <ion-button color="danger" class="button-accedi" [disabled]="!loginForm.valid" (click)="login()" >Accedi </ion-button> <br>

    <ion-button color="danger" class="button-register" (click)="registrati()"> {{ 'Registrati' | translate }}</ion-button>
 </form>
</ion-content>
