.button-register {
    position:absolute;
    top:250px; 
    left:130px; 
    width:100px; 
    height:25px;
}

.button-accedi {
    position: absolute;
    top: 180px;
    left: 70px;
    width: 220px;
}
