<ion-header>
  <ion-toolbar>
   <a (click)="home()"><ion-icon name="arrow-back" style="position:absolute; top:20px; font-size:20px"></ion-icon></a>
    <ion-title style="color:#ff0000; text-align: center">Strumenti</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="showModal()" expand="block" color="medium" style="position:relative; top:100px">Calcolatrice </ion-button>
  <ion-button expand="block" color="medium" style="position:relative; top:130px">Convertitore </ion-button>
  <ion-button expand="block" color="medium"style="position:relative; top:160px">Timer </ion-button>

</ion-content>
