<ion-header>
  <ion-toolbar>
   <a (click)="home()"><ion-icon name="arrow-back" style="position:absolute; top:20px; font-size:20px"></ion-icon></a>
    <ion-title style="color:#ff0000; text-align: center">Strumenti</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>
    <ion-button (click)="showCalculator()" class="go">Calcolatrice </ion-button>
  </p>
  <p>
    <ion-button (click)="showConvertitore()" class="go">Convertitore </ion-button>
  </p>
  <p>
      <ion-button (click)="showTimer()" class="go">Timer </ion-button>
  </p>


</ion-content>
