<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> <ion-back-button defaultHref="tabs/home"></ion-back-button> </ion-buttons>
    <ion-title class="title">{{ 'Nel mio frigo' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list style="margin-top:5px">
        <ion-item>
          <ion-label>Guanciale</ion-label>
          <ion-badge>X</ion-badge>
        </ion-item>
        <ion-item>
            <ion-label>Uovo</ion-label>
            <ion-badge>X</ion-badge>
        </ion-item>
        <ion-item>
            <ion-label>Pepe</ion-label>
            <ion-badge>X</ion-badge>
        </ion-item>
        <ion-item>
            <ion-label>Sale</ion-label>
            <ion-badge>X</ion-badge>
        </ion-item>
    </ion-list><br>

 <form  ngSubmit="onSubmit()">
    <ion-item class="ingredienti">
            <ion-label class="label"><strong>{{ 'Aggiungi ingredienti' | translate }}</strong></ion-label>
            <ion-input>
            <ionic-selectable     
              [(ngModel)]="port"
              [items]="ports"
              [isMultiple]="true"
              itemValueField="id"
              itemTextField="name"
              [canSearch]="true"
              (onChange)="portChange($event)"
              required="true">
            </ionic-selectable>
          </ion-input>
    </ion-item>


 </form>

 <div class="centra">
    <ion-button round outline type="submit">{{ 'Vedi le n ricette' | translate }}</ion-button>
 </div>


 <ion-content>
   

