<ion-header>
    <ion-toolbar>
        <a (click)="back()"><ion-icon name="arrow-back" class="indietro"></ion-icon></a>
        <ion-title class="title">Register</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
 <form [formGroup]="registerForm">
    <ion-input type="text" placeholder="Nome" class="nome"  formControlName="nome"></ion-input> <br>

    <div class="error_messages">
            <ng-container *ngFor="let error of error_messages.nome">
              <div class="error_message" *ngIf="registerForm.get('nome').hasError(error.type) && (registerForm.get('nome').dirty || registerForm.get('nome').touched)">
               {{error.message}}
              </div>
           </ng-container>
    </div>

    <ion-input type="text" placeholder="Cognome" class="cognome"  formControlName="cognome"></ion-input> <br>

    <div class="error_messages">
            <ng-container *ngFor="let error of error_messages.cognome">
              <div class="error_message" *ngIf="registerForm.get('cognome').hasError(error.type) && (registerForm.get('cognome').dirty || registerForm.get('cognome').touched)">
               {{error.message}}
              </div>
           </ng-container>
    </div>

    <ion-input type="email" placeholder="Email" class="email"  formControlName="email"></ion-input> <br>

    <div class="error_messages">
            <ng-container *ngFor="let error of error_messages.email">
              <div class="error_message" *ngIf="registerForm.get('email').hasError(error.type) && (registerForm.get('email').dirty || registerForm.get('email').touched)">
               {{error.message}}
              </div>
           </ng-container>
    </div>

    <ion-input type="password" placeholder="Password" class="password" formControlName="password"></ion-input><br>

    <div class="error_messages">
            <ng-container *ngFor="let error of error_messages.password">
              <div class="error_message" *ngIf="registerForm.get('password').hasError(error.type) && (registerForm.get('password').dirty || registerForm.get('password').touched)">
               {{error.message}}
              </div>
           </ng-container>
    </div>

    <ion-button color="danger" class="button-register" [disabled]="!registerForm.valid">{{ 'Registrati' | translate }}</ion-button>
  </form>
</ion-content>
