<ion-header>
    <ion-toolbar>
        <a (click)="login()"><ion-icon name="arrow-back" style="position:absolute; top:10px; font-size:20px; "></ion-icon></a>
        <ion-title style="color:#ff0000; text-align: center">Register</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <input type="text" placeholder="Nome" style="position:relative; top:100px; left:70px" > <br>
    <input type="text" placeholder="Cognome" style="position:relative; top:120px; left:70px"> <br>
    <input type="email" placeholder="Email" style="position:relative; top:140px; left:70px"> <br>
    <input type="password" placeholder="Password" style="position:relative; top:160px; left:70px"><br>
    <ion-button color="danger" class="button-register">Registrati</ion-button>
</ion-content>
