<ion-header>
  <ion-toolbar>
        <ion-buttons slot="start"> 
            <ion-back-button defaultHref="tabs/home"></ion-back-button> 
        </ion-buttons>
      <ion-title class="title">{{ 'Dettaglio Ricetta' | translate }}:</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
<div style="background-color:#f3f3f3;">

    <ion-img src="../assets/images/carbonara.jpg" ></ion-img>

    <label class="nome"><strong>Carbonara</strong></label><br>

    <label class="proprietà"><strong>Tipo</strong>Primo</label><br>

    <label class="proprietà"><strong>{{ 'Per' | translate }}:</strong>2 persone</label> <br> 

    <label class="proprietà"><strong>{{ 'Tempo' | translate }}:</strong>30 minuti</label> <br> <br>

    <div class="principale">
    <span class="ingredienti"><strong>{{ 'Ingredienti' | translate }}</strong></span>
    </div><br>

    <ion-list style="margin-top:5px">
        <ion-item>
          <ion-label>Guanciale</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Uovo</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Pepe</ion-label>
        </ion-item>
    </ion-list><br>

    <div class="principale">
    <span><strong>{{ 'Ricetta' | translate }}</strong></span>
    </div><br>

    
    <textarea readonly class="textarea"></textarea>
    
    
    
</div>
</ion-content>
