.nome{
    position: relative;
    margin-top:20px;
    font-size:24px;
    margin-left:5px;
}

.proprietà{
    font-size:16px;
    margin-left:5px;
}


.principale{
    font-size:20px;
    position:relative;
    text-align: center
}


.textarea{
    width: 100%;
    height: 200px;
}