.nome{
    font-size:24px;
    margin-left:5px;
}

.tempo{
    font-size:16px;
    margin-left:5px;
}

.persone{
    font-size:16px;
    margin-left:5px;
}

.ingredienti{
    font-size:20px;
    position:relative;
    left:130px;
}

.ricetta{
    font-size:20px;
    position:relative;
    left:145px;
}

.textarea{
    margin-top:5px;
    margin-left:5px;
    width: 352px;
    height: 200px;
}