<ion-header>
  <ion-toolbar>
    <ion-title>Calcolatrice</ion-title>
    <ion-button color="danger" (click)="dismiss()" class="close-modal">Chiudi</ion-button>
  </ion-toolbar>
  
</ion-header>

<ion-content>
    <div class="calculator">
      <div class="header">
        <div class="window"></div>
        <div class="input"><span>
            <ion-input type="text" placeholder="0" name="display"
                       [(ngModel)]="result" style="color: #7d7d7d">
            </ion-input>
          </span></div>
      </div>
      <div class="keys">
        <div class="row">
          <div class="number">
            <span (click)="btnClicked('7')" class="tasto">7</span>
            <span (click)="btnClicked('8')" class="tasto">8</span>
            <span (click)="btnClicked('9')" class="tasto">9</span>
          </div>
          <div class="symbol"><span (click)="btnClicked('*')">×</span></div>
          <div class="symbol"><span (click)="btnClicked('/')">÷</span></div>
        </div>
        <div class="row">
          <div class="number">
            <span (click)="btnClicked('4')" class="tasto">4</span>
            <span (click)="btnClicked('5')" class="tasto">5</span>
            <span (click)="btnClicked('6')" class="tasto">6</span>
          </div>
          <div class="symbol"><span (click)="btnClicked('+')">+</span></div>
          <div class="symbol"><span (click)="btnClicked('-')">-</span></div>
        </div>
        <div class="row">
          <div class="number">
            <span (click)="btnClicked('1')" class="tasto">1</span>
            <span (click)="btnClicked('2')" class="tasto">2</span>
            <span (click)="btnClicked('3')" class="tasto">3</span>
          </div>
          <div class="symbol">
            <span (click)="btnClicked('square')">x<sup>2</sup></span>
          </div>
          <div class="symbol">
            <span (click)="btnClicked('squareroot')">√x</span>
          </div>
        </div>
        <div class="row">
          <div class="number">
            <span class=dull (click)="btnClicked('C')" class="tasto">C</span>
            <span (click)="btnClicked('0')" class="tasto">0</span>
            <span (click)="btnClicked(',')" class="tasto">,</span>
          </div>
          <div class="symbol">
            <span (click)="btnClicked('reciproc')">1/x</span>
          </div>
          <div class="symbol action">
            <span (click)="btnClicked('=')">=</span>
          </div>
        </div>
      </div>
    </div>
  </ion-content>